body{
    background-color: rgb(203, 203, 253);
}
p{
    font-family:fantasy;
    font-size: 20px;
    
}
h1{
    font-family:fantasy;
    background-color: cornsilk;
}
#show_sketch{
    float: right;
}
#score{
    font-size: 20px;
    font-family: fantasy;
    margin-left: 5px;
}
#timer{
    float: right;
    font-size: 20px;
    font-family: fantasy;
    margin-right: 5px;
}
#sketch_to_be_drawn{
    color: red;
}